# Node
node_modules
npm-debug.log*
pnpm-debug.log*
yarn-debug.log*
yarn-error.log*

# Build
.next
.turbo
dist
build
coverage

# Editor
.DS_Store
.vscode/*
!.vscode/settings.json
!.vscode/extensions.json

# Env
.env*
!.env.example
.env.local
apps/web/.env.local
apps/admin/.env.local

.vercel
